.summary:hober {
  cursor: pointer;
  background-color: #efefef;
}

.header {
  background-color: #000;
  color: #efefef;
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  min-height: 30px;
  padding: 8px;
  margin: 1px;
  list-style: none;
}

.title {
  width: 70px;
}

.input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 6px;
  outline: none;
}

.accordion {
  background-color: #696969;
  width: 70px;
  padding: 6px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
  float: right;
}

.menu {
  width: 120px;
  float: left;
  padding: 5px;
  background-color: #efefef;
  border: solid 1px #000000;
  padding-bottom: 350px;
}

.newThread {
  background-color: #0000ff;
  color: #efefef;
  margin-top: 6px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 13px;
  outline: none;
}

.category {
  padding-left: 10px;
  line-height: 30px;
  list-style: none;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.tab {
  width: 1200px;
  background-color: #c0c0c0;
  float: left;
  padding-bottom: 330px;
  border: solid 1px #000000;
}

.tab-list {
  color: #565656;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tab-list-item {
  color: #565656;
  text-align: center;
  flex: 0 0 33.33333%;
  background-color: #eee;
  padding: 10px 0;
}

.tab-list-item.active {
  background-color: #ffffff;
  color: #ff0000;
}

.tab-content-item {
  display: none;
  padding-left: 40px;
  clear: both;
  overflow: hidden;
}

.tab-content-item.show {
  display: block;
}
